.sidebar {
  height: calc(100vh - 55px);
  padding: 0;
  color: #fff;
  background: #29363d;
  overflow: hidden;
}

.list-group {
  height: 100%;
  overflow-y: auto;
}

.list-group-item {
  background-color: transparent;
}

.list-group-item-action {
  color: white;
}